deep_sort_realtime
numpy==2.1.1
opencv-python>=4.5.1.48
ultralytics
numpy>=1.19.2
opencv-python>=4.5.1.48
ultralytics
sentence-transformers
scikit-learn
matplotlib>=3.3.2
torch>=1.7.1
torchvision>=0.8.2
jupyter==1.0.*
jupyterlab>=3.0.0
pycocotools>=2.0.2
